In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os as os
import scipy.stats as stats
import numpy as np

In [8]:
df = pd.read_csv(r'C:\Users\agustin\Desktop\ITBA\ANALITICA PREDICTIVA\origen.csv', delimiter=',', engine= 'python')

In [9]:
df

,Id,averageRating,numVotes,titleType,isAdult,startYear,endYear,runtimeMinutes,genres_x,directors,...,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,status,tagline,video
0,0,6.0,7,tvSeries,0.0,2019,0,0,News,"nm1635586,nm1230149,nm2085337",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,6.9,42,tvEpisode,0.0,2011,0,46,"Comedy,Crime,Drama",nm3398609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,7.8,8,tvEpisode,0.0,2016,0,45,"Documentary,History",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,8.2,115,tvEpisode,0.0,1992,0,30,"Comedy,Drama",nm0067621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5.8,74,movie,0.0,1961,0,103,Western,nm0060430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977536,977536,6.8,118,movie,0.0,2016,0,87,Documentary,nm0068385,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
977537,977537,7.3,91,movie,0.0,1994,0,115,Documentary,"nm0007366,nm0062743",...,Brother Minister reveals the mystery surroundi...,0.036800,[],[],1995-03-01,0.0,115.0,Released,NaN,False
977538,977538,8.3,9491,movie,0.0,1995,0,145,"Action,Crime,Drama",nm0471452,...,Auto rickshaw driver Manickam avoids violence ...,0.704162,"[{'name': 'Sathya Movies', 'id': 16434}]","[{'iso_3166_1': 'IN', 'name': 'India'}]",1995-01-15,15000000.0,145.0,Released,NaN,False
977539,977539,7.0,811,short,0.0,1943,0,8,"Animation,Comedy,Family",nm0293989,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
977540,977540,9.0,488,tvEpisode,0.0,1987,0,30,"Comedy,Drama",nm0400958,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.dtypes

Id                        int64
averageRating           float64
numVotes                  int64
titleType                object
isAdult                 float64
startYear                 int64
endYear                   int64
runtimeMinutes            int64
genres_x                 object
directors                object
writers                  object
seasonNumber            float64
episodeNumber           float64
ordering                float64
language                 object
attributes               object
isOriginalTitle         float64
adult                    object
budget                  float64
genres_y                 object
original_language        object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                 float64
runtime                 float64
status                   object
tagline                  object
video                    object
dtype: object

In [11]:
df.dtypes
len(df.dtypes)
c=0
for i in range(len(df.dtypes)):
  if df.dtypes.iloc[i] == 'int64':
    print(df.columns[i])
    if  df[df.columns[i]].isnull().values.any() == True:
      print("en la variables hay ", df[df.columns[i]].isnull().sum(), "valores nulos")
      print("valor minimos ",df[df.columns[i]].min())
      print("valor maximos ", df[df.columns[i]].max())
      print("En la variable el primer cuartil es ",np.percentile(df[df.columns[i]], 25),", el tercer cuartil es ",np.percentile(df[df.columns[i]], 75)," y la mediana es ", np.median(df[df.columns[i]]))
      print()
      print()

    else:
      print("No hay valores nulos")  
      print("valor minimos ",df[df.columns[i]].min())
      print("valor maximos ", df[df.columns[i]].max())
      print("En la variable el primer cuartil es ",np.percentile(df[df.columns[i]], 25),", el tercer cuartil es ",np.percentile(df[df.columns[i]], 75)," y la mediana es ", np.median(df[df.columns[i]]))
      print()
      print()

  elif df.dtypes.iloc[i] == 'float64':
    print(df.columns[i])
    if  df[df.columns[i]].isnull().values.any() == True:
      print("en la variables hay ", df[df.columns[i]].isnull().sum(), "valores nulos")
      print("valor minimos ",df[df.columns[i]].min())
      print("valor maximos ", df[df.columns[i]].max())
      print("En la variable el primer cuartil es ",np.percentile(df[df.columns[i]], 25),", el tercer cuartil es ",np.percentile(df[df.columns[i]], 75)," y la mediana es ", np.median(df[df.columns[i]]))
      print()
      print()

    else:
      print("No hay valores nulos")  
      print("valor minimos ",df[df.columns[i]].min())
      print("valor maximos ", df[df.columns[i]].max())
      print("En la variable el primer cuartil es ",np.percentile(df[df.columns[i]], 25),", el tercer cuartil es ",np.percentile(df[df.columns[i]], 75)," y la mediana es ", np.median(df[df.columns[i]]))
      print()
      print()
  else:
    if  df[df.columns[i]].isnull().values.any() == True:
      print("en la variables hay ", df[df.columns[i]].isnull().sum(), "valores nulos")      
      x = df[df.columns[i]].unique()
      if len(x)<30:
        for i in range(len(x)):
          print(x[i]) 
      else:
        print('muchos registros en la varibale ', df.columns[i], 'analizar detalladamente si vale la pena sumarlo la modelo')
    else:
      print("No hay valores nulos")
      x = df[df.columns[i]].unique()
      if len(x)<30:
        for i in range(len(x)):
          print(x[i]) 
      else:
        print('muchos registros en la varibale ', df.columns[i], 'analizar detalladamente si vale la pena sumarlo la modelo')
    print()
    print()

Id
No hay valores nulos
valor minimos  0
valor maximos  977540
En la variable el primer cuartil es  244385.0 , el tercer cuartil es  733155.0  y la mediana es  488770.0


averageRating
No hay valores nulos
valor minimos  1.0
valor maximos  10.0
En la variable el primer cuartil es  6.1 , el tercer cuartil es  7.9  y la mediana es  7.1


numVotes
No hay valores nulos
valor minimos  5
valor maximos  2425542
En la variable el primer cuartil es  9.0 , el tercer cuartil es  92.0  y la mediana es  22.0


No hay valores nulos
tvSeries
tvEpisode
movie
video
tvMiniSeries
short
tvSpecial
tvMovie
videoGame
tvShort


isAdult
No hay valores nulos
valor minimos  0.0
valor maximos  2020.0
En la variable el primer cuartil es  0.0 , el tercer cuartil es  0.0  y la mediana es  0.0


startYear
No hay valores nulos
valor minimos  0
valor maximos  2021
En la variable el primer cuartil es  1992.0 , el tercer cuartil es  2015.0  y la mediana es  2008.0


endYear
No hay valores nulos
valor minimos  0
valor maximos  2022
En la variable el primer cuartil es  0.0 , el tercer cuartil es  0.0  y la mediana es  0.0


runtimeMinutes
No hay valores nulos
valor minimos  -29745
valor maximos  14400
En la variable el primer cuartil es  0.0 , el tercer cuartil es  73.0  y la mediana es  27.0


en la variables hay  1 valores nulos
muchos registros en la varibale  genres_x analizar detalladamente si vale la pena sumarlo la modelo


No hay valores nulos
muchos registros en la varibale  directors analizar detalladamente si vale la pena sumarlo la modelo


No hay valores nulos
muchos registros en la varibale  writers analizar detalladamente si vale la pena sumarlo la modelo


seasonNumber
en la variables hay  539408 valores nulos
valor minimos  0.0
valor maximos  1996.0
En la variable el primer cuartil es  nan , el tercer cuartil es  nan  y la mediana es  nan


episodeNumber
en la variables hay  539408 valores nulos
valor minimos  0.0
valor maximos  15762.0
En la variable el primer cuartil es  nan , el tercer cuartil es  nan  y la mediana es  nan


ordering
en la variables hay  606699 valores nulos
valor minimos  1.0
valor maximos  162.0
En la variable el primer cuartil es  nan , el tercer cuartil es  nan  y la mediana es  nan


en la variables hay  606699 valores nulos
0
nan
en
es
yi
haw
fr
myv


en la variables hay  606699 valores nulos
muchos registros en la varibale  attributes analizar detalladamente si vale la pena sumarlo la modelo


isOriginalTitle
en la variables hay  606699 valores nulos
valor minimos  0.0
valor maximos  1.0
En la variable el primer cuartil es  nan , el tercer cuartil es  nan  y la mediana es  nan


en la variables hay  930236 valores nulos
nan
False
True


budget
en la variables hay  930236 valores nulos
valor minimos  0.0
valor maximos  380000000.0
En la variable el primer cuartil es  nan , el tercer cuartil es  nan  y la mediana es  nan


en la variables hay  930236 valores nulos
muchos registros en la varibale  genres_y analizar detalladamente si vale la pena sumarlo la modelo


en la variables hay  930247 valores nulos
muchos registros en la varibale  original_language analizar detalladamente si vale la pena sumarlo la modelo


en la variables hay  931029 valores nulos
muchos registros en la varibale  overview analizar detalladamente si vale la pena sumarlo la modelo


popularity
en la variables hay  930239 valores nulos
valor minimos  0.0
valor maximos  547.4882980000001
En la variable el primer cuartil es  nan , el tercer cuartil es  nan  y la mediana es  nan


en la variables hay  930239 valores nulos
muchos registros en la varibale  production_companies analizar detalladamente si vale la pena sumarlo la modelo


en la variables hay  930239 valores nulos
muchos registros en la varibale  production_countries analizar detalladamente si vale la pena sumarlo la modelo


en la variables hay  930307 valores nulos
muchos registros en la varibale  release_date analizar detalladamente si vale la pena sumarlo la modelo


revenue
en la variables hay  930239 valores nulos
valor minimos  0.0
valor maximos  2787965087.0
En la variable el primer cuartil es  nan , el tercer cuartil es  nan  y la mediana es  nan


runtime
en la variables hay  930445 valores nulos
valor minimos  0.0
valor maximos  1140.0
En la variable el primer cuartil es  nan , el tercer cuartil es  nan  y la mediana es  nan


en la variables hay  930312 valores nulos
nan
Released
Planned
Rumored
Post Production
In Production


en la variables hay  953733 valores nulos
muchos registros en la varibale  tagline analizar detalladamente si vale la pena sumarlo la modelo


en la variables hay  930239 valores nulos
nan
False
True

In [ ]:
#Adecuacion de varibales para un primer modelo, se busca que no tengan mucho valores faltantes

In [13]:
df[['genero1','genero2_']] = df.genres_x.apply(lambda x: pd.Series(str(x).split(",", 1)))

In [14]:
df[['genero2','genero3']] = df.genero2_.apply(lambda x: pd.Series(str(x).split(",", 1)))

In [15]:
df.release_date
df[['releaseYear', 'releaseSprecific  ']] = df.release_date.apply(lambda x: pd.Series(str(x).split("-", 1)))

In [16]:
df.status.unique()
#encoder propio
df.loc[df['status'] == "nan", 'status'] = '0'
df.loc[df['status'] == "Released", 'status'] = '1'
df.loc[df['status'] == "Planned", 'status'] = '2'
df.loc[df['status'] == "Rumored", 'status'] = '3'
df.loc[df['status'] == "Post Production", 'status'] = '4'
df.loc[df['status'] == "In Production", 'status'] = '5'

In [17]:
#encoder de la variable adult
df.loc[df['adult'] == "nan", 'adult'] = '0'
df.loc[df['adult'] == "False", 'status'] = '0'
df.loc[df['status'] == "True", 'status'] = '1'

In [18]:
df.budget.isna().sum()/ len(df.budget) #demasiado valores, flatantes no se usa en la base, a priori no da demasiada informacion

0.9516081678415534

In [19]:
df.revenue.isna().sum()/ len(df.revenue) #demasiado valores, flatantes no se usa en la base, a priori no da demasiada informacion

0.9516112367665397

In [20]:
df.tagline.unique() # no creo que en una primera instancia ayude mucho al modelo

array([nan, 'Watch out for THE PROWLER', 'Every dog has his day.', ...,
       'A rebellious young man. With his own version of the future. And his own fantasy of love.',
       'A youthful, impulsive sexual encounter opens the door to a dark comedy about the complexities of honesty.',
       'His Great New 1941 Thrill Drama!'], dtype=object)

In [21]:
df[['director_principal','restodirectores']] = df.directors.apply(lambda x: pd.Series(str(x).split(",", 1)))

In [60]:
df.groupby('director_principal', sort=True)['director_principal'].agg(['count'])

                     count
director_principal
0                   147406
nm0000005               71
nm0000008                2
nm0000009                1
nm0000010                1
...                    ...
nm9992763                1
nm9992852                1
nm9992905                1
nm9993123                1
nm9993154                1

[183368 rows x 1 columns]

In [22]:
df[['escritor_principal','restoescritores']] = df.writers.apply(lambda x: pd.Series(str(x).split(",", 1)))

In [61]:
df.groupby('escritor_principal', sort=True)['escritor_principal'].agg(['count'])

                     count
escritor_principal
0                   224376
nm0000005               66
nm0000018                2
nm0000019               25
nm0000024                1
...                    ...
nm9992556                1
nm9993124                1
nm9993145                2
nm9993311                1
nm9993713                7

[201329 rows x 1 columns]

In [65]:
df[['averageRating','directors', 'director_principal', 'writers', 'escritor_principal']]

,averageRating,directors,director_principal,writers,escritor_principal
0,6.0,"nm1635586,nm1230149,nm2085337",nm1635586,0,0
1,6.9,nm3398609,nm3398609,nm0449959,nm0449959
2,7.8,0,0,0,0
3,8.2,nm0067621,nm0067621,nm0719927,nm0719927
4,5.8,nm0060430,nm0060430,"nm0038160,nm0256467,nm0543733,nm0060430",nm0038160
...,...,...,...,...,...
977536,6.8,nm0068385,nm0068385,0,0
977537,7.3,"nm0007366,nm0062743",nm0007366,"nm0007366,nm0062743,nm0149331",nm0007366
977538,8.3,nm0471452,nm0471452,"nm0049400,nm0471452,nm2701239",nm0049400
977539,7.0,nm0293989,nm0293989,"nm0288111,nm0540789,nm0588514,nm0682481",nm0288111
977540,9.0,nm0400958,nm0400958,"nm0365358,nm0343724,nm0817565",nm0365358

In [ ]:
#vale la pena agregarlo como datos, habiendo en ambos casos una gran parte de datos faltantes

In [23]:
df.ordering.isna().sum()/len(df.ordering) #62% de valores faltantes, creo que ene un primer modelo no asportaria demasiada informacion, se puede scar en uyna primera instancia y edspues usarlo para optimizar

0.6206379067476454

In [24]:
df.language.unique()

array(['0', nan, 'en', 'es', 'yi', 'haw', 'fr', 'myv'], dtype=object)

In [25]:

#transformacion de nan a 0 y resto de idiomas a categoricas
df.loc[df['language'] == "nan", 'language'] = '0'
df.loc[df['language'] == "en", 'language'] = '1'
df.loc[df['language'] == "es", 'language'] = '2'
df.loc[df['language'] == "yi", 'language'] = '3'
df.loc[df['language'] == "haw", 'language'] = '4'
df.loc[df['language'] == "fr", 'language'] = '5'
df.loc[df['language'] == "myv", 'language'] = '6'

In [26]:
df.isOriginalTitle

0         0.0
1         NaN
2         NaN
3         NaN
4         NaN
         ...
977536    0.0
977537    0.0
977538    0.0
977539    0.0
977540    0.0
Name: isOriginalTitle, Length: 977541, dtype: float64

In [27]:
df.isOriginalTitle.max()

1.0

In [28]:
df.loc[df['isOriginalTitle'] == "nan", 'isOriginalTitle'] = 0 # si es un valor faltante se supone que no es un original title

In [38]:
df.original_language.unique() #hacer un auto encoder porque alta paja hacer yo uno por uno

from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(df.original_language)
le.classes_
j = le.transform(df.original_language)
df['idioma_original'] = j

In [39]:
df.idioma_original

0         87
1         87
2         87
3         87
4         87
          ..
977536    87
977537    17
977538    74
977539    87
977540    87
Name: idioma_original, Length: 977541, dtype: int32

In [42]:
df.popularity.isna().sum()/len(df.popularity) #95% de valores nullos

0.9516112367665397

In [47]:
df.production_companies.isna().sum()/len(df.popularity) #95% de valores nullos

0.9516112367665397

In [51]:
df.production_countries.isna().sum()/len(df.popularity) #95% de valores nullos, a priori para un primer modelo no mme deberia servir

0.9516112367665397

In [58]:
df.video.isna().sum()/977541 #muchos valores nulos para un primer modelo

0.9516112367665397

In [56]:
df.runtime.isna().sum()/len(df.runtime) #en un primer modelo hay mucho valores nulos

0.9518219696155967

In [ ]:
#DF filtrado para un primer modelo

In [ ]:
filtrado = df[['Id',
'averageRating', #listo para usar
'numVotes', #listo para usar
'startYear', #listo para usar
'runtimeMinutes', #listo para usar
'director_principal', #despues para optimizar un poco mas el modelo se le pueden agregar mas dierectores, se podrian hacer un encoding con los directores mas repetidos
'escritor_principal', #despeues para optmizar el modelo se podrian usar mas escritores y parsiar la otra columna, el encoding se haria con los escritores mas repetidos
'genero1', #listo para usar
'genero2', #listo para usar
'genero3', #listo para usar
'language', #listo para usar
'adult',#listo para usar,
'isOriginalTitle' #listo para usar
'idioma_original', #listo para usar
'releaseYear',#listo para usar, creo q no sirve, muchos nan
'status' #listo para usar 
]]